.categoriesList {
  margin-top: 32px;
}

.categoriesListWrapper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categoriesListSection a {
  display: inline-block;
  width: 100%;
  color: #000000;
}

.categoriesListSection ul {
  list-style-type: none;
}

.categoriesListSection li {
  border-radius: 10px;
  padding: 10px;
}

.categoriesListSection .img {
  border-radius: 7px;
}
