.categoriesList {
  margin-top: 32px;
}

.categoriesListWrapper {
  position: relative;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categoriesListWrapper .createCategory {
  position: absolute;
  top: 0;
  right: 0;
}

.categoriesListSection a {
  display: inline-block;
  width: 100%;
  color: #000000;
}

.categoriesListSection li {
  border-radius: 10px;
}

.categoriesListSection img {
  border-radius: 8px;
}

.categoryImg {
  width: 100%;
  aspect-ratio: 1;
}
