.categoriesList {
  margin-top: 64px;
}

.categoriesListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categoriesListSection a {
  display: inline-block;
  width: 100%;
  color: #000000;
}

/* .categoriesListSection li {
  border-radius: 10px;
}

.categoriesListSection img {
  border-radius: 8px;
} */

.categoryImg {
  width: 100%;
  aspect-ratio: 1;
}

/* .createCategoryButton {
  position: absolute;
  top: 24px;
  right: 0px;
} */

.categoriesListItem:hover {
  transform: translate(0px, -5px);
  transition: 0.1s ease-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
