.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.left,
.right {
  display: flex;
}

.Dropdown-item,
.setDarkModeButton {
  cursor: pointer;
}
